.action-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

input[type="file"]{
    display: none;
}

.custom-foto-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.addjugador {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.addjugador-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.addjugador-form-fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.addjugador-form-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.jugadores-avatar-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.jugador-datos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.jugador-datos-campos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.jugador-datos-campo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 30%;
}

.jugador-estadisticas {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.stats-labels {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.stat-label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 240px;
    height: 100px;
    background-color: var(--gray);
    color: white;
    border-radius: 10%;
}

.stat-label h3, h4 {
    margin: 0;
}