/**
AddJugadorForm
**/

.action-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

input[type="file"]{
    display: none;
}

.custom-foto-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.addjugador {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.addjugador-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.addjugador-form-fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.addjugador-form-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px
}

/**
Jugadores
**/

.jugadores-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.jugador-cancha-draggable-container {
    position: relative;
    width: 100%;
    min-width: 800px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr, repeat(5, 80.72px);
    display: grid;
    row-gap: 10px;
}

.main-box {
    width: 100%;
    min-width: 800px;
    grid-column: 1 / 6;
}

.jugadores-cancha {
    width: 80%;
}

.background-cancha {
    background-image: url('/public/assets/cancha.png');
    background-size: cover;
    background-position: 'center';
    background-repeat: 'no-repeat';
    height: 0;
    padding-top: 51.73%;
}

.avatar-container h5, h6 {
    margin: 0;
    text-align: center;
}

.avatar-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.avatar-info-dark {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--gray);
    padding: 0.15rem 0.4rem;
    border-radius: 10px;
}


.jugadores-avatar-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    row-gap: 10px;
}

/**
JugadorDatos
**/

.jugador-datos h2 {
    margin-bottom: 10px;
    text-align: center;
}

.jugador-datos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.jugador-datos-campos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.jugador-datos-campo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 30%;
}

.jugador-datos-campo h3 {
    margin: 0;
}

/**
JugadorEstadisticas
**/

.jugador-estadisticas {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 60px;
}

.jugador-estadisticas h2 {
    margin-bottom: 10px;
    text-align: center;
}

.jugador-estadisticas-campos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 60px;
}

.jugador-estadisticas-campo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.stats-labels {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.stat-label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 240px;
    height: 100px;
    background-color: var(--gray);
    color: white;
    border-radius: 20px;
}

.stat-label h3, h4 {
    margin: 0;
}

.stat-graphs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.graph {
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--lighter-gray);
    border-radius: 10px;
}

.graph h4 {
    margin: 0;
}

.jugador-notificaciones {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.jugador-notificaciones-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.notificacion {
    font-size: 16px;
    font-weight: 900;
}

.jugador-calendario-acciones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.MuiDayCalendar-weekDayLabel {
    color: var(--blue)!important;
    font-weight: bolder!important;
}

.MuiButtonBase-root {
    font-weight: bolder!important;
}

.avatar-container h5, h6 {
    margin: 0;
}

.jugador-graficas {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.jugador-graficas h2 {
    margin-bottom: 10px;
    text-align: center;
}

.jugador-graficas-filtros {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.jugador-desarrollo-tactico {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.jugador-desarrollo-tactico-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.jugador-desarrollo-tactico-fundamentos {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.jugador-desarrollo-tactico-fundamentos-tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

.jugador-desarrollo-tactico-info-calendario {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-color: var(--blue);
    border-width: 1px;
    border-style: solid;
}

.jugador-desarrollo-tactico-info-jugador {

    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
}

.jugador-desarrollo-tactico-info-jugador-leyendas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.jugador-desarrollo-tactico-info-jugador-leyendas-item {
    flex: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.jugador-desarrollo-tactico-info-jugador-leyendas-item h5 {
    margin: 0;
}

.jugador-notificaciones-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.jugador-calendario {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.jugador-calendario-calendario {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.jugador-sesion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.jugador-sesion h2{
    margin-bottom: 10px;
    text-align: center;
}

.addsesion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}