.file-input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.file-input-field-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}