.addsesion-fundamento-slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;
}

.addsesion-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.addsesion-form-s1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.addsesion-form-s2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.addsesion-form-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px
}

.addsesion-form-ejercicio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px
}